.abount,
.services,
.portifolio,
.contact {
  text-align: center;
  padding: 40px 20px;
}


.abount img {
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.abount p {
  margin: 10px auto;
  max-width: 600px;
}

.abount {
  border-bottom: 1px solid var(--main-text-ligth);
}
